script async="" src="https://www.googletagmanager.com/gtag/js?id=G-E7X0Q04B1N"

javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-E7X0Q04B1N');

